angular-route
angular-sanitize
bootstrap
firebase
jquery
localforage
peerjs
underscore
/node_modules
/bower_components
angular
angularfire
angular-mocks
grunt-contrib-connect
grunt-contrib-jshint
grunt-contrib-watch
grunt-karma
karma
karma-chrome-launcher
karma-jasmine
.bin
grunt
